html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  letter-spacing: 0.3px;
  color: #000000;
}

a:focus,
button:focus {
  outline-offset: 1px;
  outline: #00ae6c auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.none {
  display: none !important;
}

.no-scroll {
  overflow-y: hidden;
}

.visible-desktop {
  display: block;

  @include tablet {
    display: none;
  }
}
